@charset "utf-8";

* {
  margin: 0;
}

body {
  padding: 0 0.5rem;
}

header {
  padding: 3rem 0 3rem;
  text-align: center;
  background: #eee;
  img {
    border-radius: 50%;
  }
  h1 {
    font-weight: normal;
    font-size: 28px;
    margin-top: 1rem;
  }
}

main {
  padding: 4rem 0;
  text-align: center;
  h2 {
    text-align: center;
    font-size: 24px;
  }

  h2:nth-of-type(1) {
    border-bottom: 2px solid #ccc;
    padding-bottom: 2rem;
  }
  h2:nth-of-type(2) {
    margin-top: 4rem;
    color: rgb(255, 46, 46);
    font-weight: normal;
  }
  h2:nth-of-type(3) {
    margin-top: 4rem;
    color: blue;
    font-weight: normal;
  } 

  section {
    width: 400px;
    height: 240;
    margin: 4rem auto 0;

    a {
      text-decoration: none;
    }

    h3 {
      font-size: 20px;
      margin-top: 1rem;
      font-weight: normal;
    }

    p {
      margin-top: 1rem;
      line-height: 1.8;
    }
  }
}

footer {
  border: #eee 1px solid;
  padding: 4rem 0;
  text-align: center;

  small {
    color: #ccc;
    font-size: 0.8rem;
  }

  a:hover {
    opacity: 0.8;
  }

  address {
    margin-top: 1rem;
  }
}